@using WebApplication1.Models;
@{
    ViewBag.Title = "Index";
    var products = ViewBag.Product as List<Product>;
}

<h2>Index</h2>
<ul>
    @foreach (var item in products)
    {

        <li>@item.Id - @item.Name - @item.Quantity</li>

    }
</ul>



